.contenedorTablaAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablaAdmin{
    font-size: medium;
    margin-top: 10px;
}

.columnaAdmin{
    margin-top: 20px;
}

.contenedorModalEdiAdmin{
    background-color: #007bff30;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

.headerModalEdiAdmin{
    background-color: #0b91de;
    color: white;
}

.tituloModalEdiAdmin{
    color: white;
  }

.bodyModalEdiAdmin{
    background-color: #f5f5f5;
    border-radius: 10px;
  }

.botonEditarAdmin{
    background-color: #0b91de;
    border: none;
    transition: 0.5 ease-in-out;
}

.botonEditarAdmin:hover{
    background-color: #0974b2;
    border: none;
}

.botonEliminarAdmin{
    background-color: #c80b0b;
    border: none;
    transition: 0.5 ease-in-out;
}

.botonEliminarAdmin:hover{
    background-color: #ae0909;
    border: none;
}