.contenedorClima{
    display: grid;
    justify-content: column;
    align-items: column;
    width: 100%;
    /* margin-top: 20px; */
    /* border: 2px solid grey; */
}

.contenedorTituloClima{
    font-size: 28px;
    margin-top: 10px;
    color: #333;

}

.contenedorIconClima{
    margin-top: -15px;
}

.contenedorInfoClima{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

.updateClima{
    font-size: 14px;
    margin-top: 2px;
}