.containerDetallePlanes {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.containerDetallePlanes h1 {
  font-size: 36px;
  color: #0b91de;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.contenedorConclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conclusion {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contenedorPlanes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-container {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px; /* Aumentamos el margen inferior para más separación entre planes */
  padding: 20px; /* Añadimos un espacio interno */
  text-align: center; /* Centramos el contenido */
}

.plan-name {
  font-weight: bold;
  color: #0b91de;
  font-size: 20px;
  text-align: center;
}

.plan-description {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 10px 20px; /* Ajustamos el margen vertical */
  text-align: center;
}

.contenedorImgConcl {
  position: relative;
  display: inline-block;
}

.imagenConclusion {
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 255, 0);
}

.botonModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: none;
  color: #000000;
  font-size: 30px;
  border: none;
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.botonModal:hover {
  transition: 0.3s;
  background-color: #007bff6e;
  font-size: 50px;
  color: #f5f5f5;
}

.textoConclusion {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 12px;
  font-weight: bold;
  background-color: #01ddf4;
  color: black;
  font-size: 22px;
}

.modalPlanes {
  background-color: #007bff30;
}

.contenedorModalPlanes {
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.headerModalPlanes {
  background-color: #0b91de;
}

.bodyModalPlanes {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.tituloModalPlanes {
  color: black;
}

@media (max-width: 768px) {
  .plan-container {
    padding: 15px; /* Reducimos el espacio interno en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .plan-container {
    margin-bottom: 10px; /* Reducimos el margen inferior en pantallas muy pequeñas */
    padding: 15px; /* Reducimos el espacio interno en pantallas muy pequeñas */
  }

  .plan-name {
    font-size: 18px; /* Reducimos el tamaño de fuente del título en pantallas muy pequeñas */
  }

  .plan-description {
    font-size: 14px; /* Reducimos el tamaño de fuente de la descripción en pantallas muy pequeñas */
  }
}

/* ... Estilos anteriores ... */

/* Estilos para dispositivos móviles */
@media (max-width: 844px) {
  .contenedorConclusion {
    width: 100%;
    margin-bottom: 10px;
  }

  .conclusion {
    flex-direction: column;
    align-items: center;
  }

  .contenedorImgConcl {
    margin-bottom: 10px;
  }

  .botonModal {
    width: 100%;
    margin-bottom: 10px;
  }

  .contenedorPlanes {
    margin-top: 20px; /* Espacio entre el botón y los planes */
  }

  .plan-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .textoConclusion {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .imagenConclusion {
    width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 255, 0);
  }
}
