.colorFondo{
    background-color: white;
}


.main-img{
    padding-top: 30% ;
    width: 100%;
}
 

.main-description{
    font-size: 22px;

}

.colorYestilo-verde {
    color: #6eb42d;
    font-style: italic;
}