.colorFondo{
    background-color: #feecd4;
}

.main-img{
    padding-top: 10% ;
    
}
 

.main-description{
    font-size: 14px;

}

.btn-sz-primary{
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 50px ;
    color: white !important;
    background-color: #34d796 !important;

}





